<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
</head>
<body>
    
    <!-- <% scriptlet tag:- Only Flow Statement NOT showing OUTPUT  (Not JS) -->
    <% if(kindOfday===0 || kindOfday===1){ %>
        <h1 style="color:tomato"> <%= kindOfday %> ToDo List</h1>  
        <% }else{  %>
        <h1 style="color:rgb(185, 185, 135)"> <%= kindOfday %> ToDo List</h1> 
    <%}%>
</body>
</html>